@{
    Layout = "~/Views/Shared/_Layout.Index.cshtml";
}

<div class="iframe-wrapper">
	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdnYzkhOQulIb6_EbyLTJgTi0IYbqUemzZR66xvwVqIAt4-6g/viewform?embedded=true" width="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>