@section Title {
    <h2 class="title">Lend us a helping hand?</h2>
}

<h3>Become a Hearts Volunteer! </h3>


<h5>Our efforts to save lives are dwarfed by the Herculean efforts of our amazing volunteers. We are always looking for dedicated, passionate volunteers to join our cause. We are always looking for volunteers to help with the following:</h5>
<ul>
<li>Photography</li>
<li>Videography</li>
<li>Video Editing</li>
<li>Adoption and Foster Applications (Reference Checking, Conducting Home Visits)</li>
<li>Blog and Newsletter</li>
<li>Public Relations</li>
<li>Thank You Note writing</li>
<li>Fundraising </li>
<li>Social Media</li>
<li>Event Coordination</li>
<li>Transportation</li>
<li>Adoption Coordinators</li>
<li>Transportation Coordinators</li>
<li>Foster Coordinators</li>
<li>Vetting Coordinators</li>
<li>Outreach Coordinators</li>
</ul>
<p></p>
<p><a href="mailto:info@heartsandbonesrescue.com">Email us to</a> fill out a Volunteer Application.</p>
<p>There are always things to be done that will better enable us to save lives. Our volunteers are so supremely talented and really take our rescue to new heights. We look forward to working with you to save more hearts in need! </p>
