@section Title {
    <h2 class="title">Become part of our family!</h2>
}

<h3>Become a Hearts & Bones Foster!</h3>

<p>Fosters are the lifeblood of rescue. Without fosters, dogs end up dying in shelters. Very literally, one additional foster is one additional life that we can save. If you have always wanted to foster but were not sure that you could commit to a dog long term, fostering is the best way to enjoy a shorter-term commitment. As we are an all-breed dog rescue, we have dogs of all ages, shapes, and sizes that are available. We value our foster homes very highly and appreciate you for considering fostering with us! </p>
<p>Hearts & Bones Rescue is a low-stress, no-drama rescue. We value your time just like we value ours. If there is a problem, let us know right away so we can help you and your foster dog. We want you and your foster dog to be successful! Fosters are the biggest, most important part of rescue, and we have the utmost respect for people like you who are willing to open your hearts and home to animals in need. </p>

<p>Interested in Fostering? <a href="mailto:info@heartsandbonesrescue.com">Email us to</a> get started! </p>

<h4>Fostering 101:</h4>
<ol>
<li>Upon approval to foster, Hearts fosters join a closed group dedicated to our foster program. </li>
<li>Dogs that are available to be fostered are posted in the group. Prior to committing to a dog, we provide as much information to you about the dogs that need fosters. Often times, information can be limited as we do not have much history on the dog. </li>
<li>Hearts & Bones Rescue pays for ALL medical expenses for the dog.</li>
</ol>
