<header>
    <ul id="dropdown_adopt" class="dropdown-content">
        <li><a class="nav-link" href="/Adopt">Adoption</a></li>
		<li class="divider"></li>
        <li><a class="nav-link" href="/Adopt/BeforeYouAdopt">Before You Adopt</a></li>
        <li><a class="nav-link" href="/Adopt/AfterAdoption">After Adoption</a></li>
        <li><a class="nav-link" href="/Adopt/ApplyNow">Apply Now</a></li>
        <!-- <li class="divider"></li>
        <li><a href="#!">three</a></li> -->
    </ul>
    <ul id="dropdown_meet" class="dropdown-content">
        <li><a class="nav-link" href="/Meet">Meet the pups</a></li>
        <li class="divider"></li>
        <li><a class="nav-link" href="/Meet/WhereAreOurDogsFrom">Where are our dogs from?</a></li>
        <!-- <li class="divider"></li>
        <li><a href="#!">three</a></li> -->
    </ul>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo center f-marker" href="/">Hearts&amp;Bones</a>
                <a href="#" data-activates="sidebar_nav" class="button-collapse"><i class="material-icons">menu</i></a>
                
                <ul id="nav-mobile" class="left hide-on-med-and-down">
					<li><a class="dropdown-button nav-link" href="#!" data-activates="dropdown_meet">Meet the pups<i class="material-icons right">arrow_drop_down</i></a></li>
					<li><a class="dropdown-button nav-link" href="#!" data-activates="dropdown_adopt">Adoption<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li class="nav-item"><a class="nav-link" href="/Foster">Foster</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Volunteer">Volunteer</a></li>
                </ul>
                
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="nav-item"><a class="nav-link" href="/About">About</a></li>
                    @* @Lance this just won't be there at all for now  <li class="nav-item"><a class="nav-link" href="/Blog">Blog</a></li>*@
                    <li class="nav-item"><a class="nav-link" href="/Contact">Contact</a></li>
                    <li class="nav-item">
                        <a target="_blank" id="donate" class="nav-link" name="submit" title="PayPal - The safer, easier way to pay online!" href="https://www.paypal.com/us/fundraiser/charity/2380536">Donate</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <ul class="side-nav" id="sidebar_nav">
        <li class="side-item"><a class="side-link" href="/Meet">Meet the pups</a></li>
        <li class="side-item"><a class="side-link" href="/Adopt">Adopt</a></li>
        <!--<li class="side-item"><a class="side-link" href="/Foster">Foster</a></li>-->
        <li class="side-item"><a class="side-link" href="/Volunteer">Volunteer</a></li>
        <li class="side-item"><a class="side-link" href="/About">About</a></li>
        <!--<li class="side-item"><a class="side-link" href="/Blog">Blog</a></li>-->
        <li class="side-item"><a class="side-link" href="/Contact">Contact</a></li>
        <li class="side-item"><a class="side-link" href="/Donate">Donate</a></li>
    </ul>
</header>