<title>Hearts &amp; Bones Dog Rescue - Pet Adoption - @ViewBag.Title</title>

@* Recommended meta tags for bootstrap *@
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Hearts &amp; Bones Rescue is a 501(c)3 non-profit organization dedicated to saving the lives of at-risk dogs and finding them loving, forever homes.">

<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Permanent+Marker" rel="stylesheet">

<link rel="stylesheet" href="/Styles/materialize/materialize.min.css">
<link rel="stylesheet" href="/Styles/site.min.css">