<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo center f-marker" href="/">Hearts&amp;Bones</a>
                <a href="#" data-activates="sidebar_nav" class="button-collapse"><i class="material-icons">menu</i></a>
                
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li class="nav-item"><a class="nav-link" href="/Meet">Meet the pups</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Adopt">Adopt</a></li>
                    <!--<li class="nav-item"><a class="nav-link" href="/Foster">Foster</a></li>-->
                    <li class="nav-item"><a class="nav-link" href="/Volunteer">Volunteer</a></li>
                </ul>
                
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="nav-item"><a class="nav-link" href="/About">About</a></li>
                    @* @Lance this just won't be there at all for now  <li class="nav-item"><a class="nav-link" href="/Blog">Blog</a></li>*@
                    <li class="nav-item"><a class="nav-link" href="/Contact">Contact</a></li>
                    <li class="nav-item">
                        <a id="donate" class="nav-link" name="submit" title="PayPal - The safer, easier way to pay online!" href="https://www.paypal.com/us/fundraiser/charity/2380536">Donate</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <ul class="side-nav" id="sidebar_nav">
        <li class="side-item"><a class="side-link" href="/Meet">Meet the pups</a></li>
        <li class="side-item"><a class="side-link" href="/Adopt">Adopt</a></li>
        <!--<li class="side-item"><a class="side-link" href="/Foster">Foster</a></li>-->
        <li class="side-item"><a class="side-link" href="/Volunteer">Volunteer</a></li>
        <li class="side-item"><a class="side-link" href="/About">About</a></li>
        <!--<li class="side-item"><a class="side-link" href="/Blog">Blog</a></li>-->
        <li class="side-item"><a class="side-link" href="/Contact">Contact</a></li>
        <li class="side-item"><a class="side-link" href="/Donate">Donate</a></li>
    </ul>
</header>