<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo center f-marker" href="/">Hearts&amp;Bones</a>
                <a href="#" data-activates="sidebar_nav" class="button-collapse"><i class="material-icons">menu</i></a>
                
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li class="nav-item"><a class="nav-link" href="/Home/Meet">Meet the pups</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Home/Adopt">Adopt</a></li>
                    <!--<li class="nav-item"><a class="nav-link" href="/Home/Foster">Foster</a></li>-->
                    <li class="nav-item"><a class="nav-link" href="/Home/Volunteer">Volunteer</a></li>
                </ul>
                
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="nav-item"><a class="nav-link" href="/Home/About">About</a></li>
                    <!--<li class="nav-item"><a class="nav-link" href="/Home/Blog">Blog</a></li>-->
                    <li class="nav-item"><a class="nav-link" href="/Home/Contact">Contact</a></li>
                    <li class="nav-item">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="Y8VA5XS87ALAC">
                            <a id="donate" class="nav-link" name="submit" title="PayPal - The safer, easier way to pay online!">Donate</a>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <ul class="side-nav" id="sidebar_nav">
        <li class="side-item"><a class="side-link" href="/Home/Meet">Meet the pups</a></li>
        <li class="side-item"><a class="side-link" href="/Home/Adopt">Adopt</a></li>
        <!--<li class="side-item"><a class="side-link" href="/Home/Foster">Foster</a></li>-->
        <li class="side-item"><a class="side-link" href="/Home/Volunteer">Volunteer</a></li>
        <li class="side-item"><a class="side-link" href="/Home/About">About</a></li>
        <!--<li class="side-item"><a class="side-link" href="/Home/Blog">Blog</a></li>-->
        <li class="side-item"><a class="side-link" href="/Home/Contact">Contact</a></li>
        <li class="side-item"><a class="side-link" href="/Home/Donate">Donate</a></li>
    </ul>
</header>