@section Title {
    <h2 class="title">Add a new member to your family!</h2>
}

@section styles {
    <style>
    .adoption ul li {
        list-style-type: square !important;
        margin-left: 40px;
    }
	</style>
}
<div class="adoption">
<h3>You Adopted! What should you expect?</h3>


<p>Every adopter is a big part of our rescue. Without adopters, there would be no rescue, and we would not be able to save lives. We thank you for considering adoption! </p>
<p>You adopted! But, Now what? Here are a few tips to help your new dog get settled into your home. </p>

<ol>
<li>Let your new dog DECOMPRESS! </li>
<ul><li>Moving to a new home can be very stressful for a new dog – they do not know where they are yet and may act differently. Having to re-learn housetraining, having separation anxiety, not wanting to eat, etc. is all common when a dog moves to a new location. Be patient and give your new dog time to get used to the new surroundings. We do not recommend immediately taking your dog to visit all of your family and friends, as your new dog will need to recognize where home is first.</li></ul>
<li>Buy good FOOD for your new dog! </li>
<ul><li>We recommend buying high-quality, holistic food. It is good practice to avoid with corn and wheat, as they are known allergens and cause issues in dogs. </li></ul>
<li>Take your dog in to the vet for a check-up</li>
<ul><li>We recommend taking your dog into the vet within the first two weeks of adoption. It is good to have your dog develop a relationship with your vet, as well as purchase additional preventives that will need to be provided on a monthly basis. It is good to get a full re-examination – fecal tests for example can often show a false negative. </li></ul>
<li>Crate train your dog!</li>
<ul><li>Crates are essential to training and help keep dogs safe – many dogs are prone to chewing or ingesting things that are inedible, which, at worst, could result in an emergency room visit. </li></ul>
</ol>
	
<h4>Adoption DO NOTS</h4>
<ol>
<li>If you have another dog or animal:</li>
<ul><li>Do not just open the door and let your new dog into the home. Introduce them on neutral territory and go on a walk together.</li>
<li>Do not expect your new dog and your current dog to instantly be best friends. There is a natural adjustment period and it is your responsibility to monitor their engagement and have them get to know each other in a slow, controlled environment.</li>
<li>Do not feed your new dog and your current dog together!</li>
<li>Do not ever leave our high value treats out when the dogs are together. </li></ul>
<li>If you have a child:</li>
<ul><li>Do not ever leave your child alone with the dog.</li>
<li>Do not let your child put his/her face into the dog’s face.</li>
<li>Do not let your child ride the dog, pull the dog’s ears or tail, or anything that may be considered intrusive and uncomfortable. </li>
<li>Do not ever leave out your child’s toys out with your dog’s toys. </li></ul>
</ol>
	
</div>