@{
    Layout = "~/Views/Shared/_Layout.Index.cshtml";
}

<div class="iframe-wrapper">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd1wAzNdMbN281i_VqH_RIGlmxIcrNyV47qqWSzr7XL9Y1gpg/viewform?embedded=true" width="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>