@section Title {
    <h2 class="title">Add a new member to your family!</h2>
}

@section styles {
    <style>
    .adoption ul li {
        list-style-type: square !important;
        margin-left: 40px;
    }
	</style>
}

<div class="adoption">
<h3>Before you adopt</h3>

<p>Before you consider adopting a dog, consider ALL of the below prior to bringing your new dog home.</p>
<ol>
<li>Dogs are a DAILY COMMITMENT.</li>
<ul><li>Dogs are a daily commitment. Dogs need walks everyday. They need to be fed everyday. They need stimulation and exercise everyday. They need love from their families everyday. Is this something that you can commit to, for the dog’s life?</li></ul>
<li>Dogs are for LIFE.</li>
<ul><li>We expect adopters to commit to the dog FOR LIFE. This could be a few years, or it could be 15-20 years. What happens if you change jobs? Find a new partner? Move? Have children? Get another dog? What if issues arise around these situations – will you be able to make accommodations to keep your adopted dog? A dog should be considered a part of the family and not dispensable during life changes.</li></ul>
<li>Dogs need IDENTIFICATION.</li>
<ul><li>As soon as you adopt a dog, your dog should have a collar with his/her name and your information on it. If your dog somehow gets lost, there will then be a way for a person to identify the dog and contact you. All of our dogs our microchipped, but scanning for the microchip cannot be done by just anyone who finds your dog on the street. Hearts & Bones Rescue always acts as the back-up contact in the event that your dog is lost, but please 1) keep your contact information current with us, and 2) your microchip company.</li></ul>
<li>Dogs require MEDICAL CARE.</li>
<ul><li>Dogs require annual vet visits and basic vaccinations (rabies, DHPP, Bordetella, etc.), at the very minimum. </li></ul>
<li>Dogs requires PATIENCE.</li>
<ul><li>Are you still working on housebreaking even a few months after adoption? </li></ul>
<li>Dogs are EXPENSIVE!</li>
<ul><li>Dogs. Are. Not. Cheap! Below are some of the basic, ongoing costs that each adopter will need to pay for.</li>
<li>Dog Food – High-quality, healthy food. $100-$200 / month</li>
<li>Heartworm and Flea/Tick Preventive – $10-$40 / month </li>
<li>Annual Vet Visits </li>
<li>Pet Insurance – Monthly fees can range from $25-$60 / month</li>
<li>Dog Walkers</li>
<li>Dog Daycare / Pet Sitters</li>
<li>Dog Training</li>
<li>Dog Toys</li>
<li>Dog Treats</li>
<li>This does not include any emergencies, whether training or health-related, that could arise. </li></ul>
<li>Dogs need TRAINING.</li>
<ul><li>While some dogs may already have some basic training skills down, all adopters MUST be prepared to work through behavioral issues that may arise. We have trainer recommendations HERE that we’ve worked with for a long time that can help with the below. Typical training items include: </li>
<li>Housebreaking</li>
<li>Cratetraining</li>
<li>Separation Anxiety</li>
<li>Leash Walking</li>
<li>Food Aggression</li>
<li>Leash Aggression</li>
<li>Dog Aggression</li></ul>
<li>Dogs require SUPERVISION.</li>
<ul><li>Have children? Children should never be left unattended. No matter how well-behaved your dog or child is, children, especially young children, can make more unpredictable movements that can make a dog uncomfortable. Children should never put their face in the dog’s face, ride the dog, pull the dog’s ears, etc. It is your responsibility as the adult to always supervise these situations to prevent a dog bite. Dog bites result in quarantine, and at worst, can be killed.</li>
<li>Even if you have a yard, dogs can get bored – they can dig, they can jump over a fence, and can get out more quickly than you think. They should never be left unsupervised outside.</li></ul>
</ol>
	
</div>