@section Title {
    <h2 class="title">Add a new member to your family!</h2>
}

<p>Adopting a Hearts & Bones dog requires a <a href="/Adopt/ApplyNow">completed application</a>. Our team will do reference checks and also conduct a home visit (in-person or virtually). We place dogs mainly in Texas and in the New York City area, though do also consider applications outside of our main areas. The adoptive homes that are chosen are based, firstly, on the home that is determined to be the best fit. If there are multiple great applications for the same dog, then we will look at which application came first. We carefully screen all of our adopters and dogs to ensure that we are finding the best match for each family. </p>
<p>Dog Adoption Fees. The dog adoption fee ranges from $300-$450. Prior to adoption, all of our adoptable dogs are spayed/neutered, fully vaccinated with age-appropriate vaccinations, heartworm tested, and up-to-date on preventives. The adoption fee, in addition to all of the basics, also covers any additional medical issues that often may arise in dog rescue – skin issues, orthopedic issues, etc. Approximately $150-$200 of the adoption fee also goes towards the cost of transporting the dog. The purpose of the adoption fee is solely to cover the cost of caring for our adoptable dogs.</p>
