@section Title {
    <h2 class="title center-align">Meet the adoptable<br />Hearts &amp; Bones Pups!</h2>
}

@section Scripts {
}

<iframe name="sap_searchtools_frame" width='600' height='1000' frameborder='0' src='//searchtools.adoptapet.com/cgi-bin/searchtools.cgi/portable_pet_list?shelter_id=95658&size=450x600_gridnew&color=gray&clan_name=&title=Check out our adoptable dogs in NY&sort_by=pet_name' marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="auto"></iframe>
<div style="border-left: thick solid #aaa; height: 1000px; display: inline-block;"></div>
<iframe name="sap_searchtools_frame" width='600' height='1000' frameborder='0' src='//searchtools.adoptapet.com/cgi-bin/searchtools.cgi/portable_pet_list?shelter_id=95500&size=450x600_gridnew&color=gray&clan_name=&title=Check out our adoptable dogs in TX&sort_by=pet_name' marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="auto"></iframe>