@section Title {
    <h2 class="title center-align">Meet the adoptable<br />Hearts &amp; Bones Pups!</h2>
}

@section Scripts {
    <script src="https://unpkg.com/vue@2.3.4/dist/vue.min.js" type="text/javascript"></script>
    <script src="/Scripts/adopt.js" type="text/javascript"></script>
}

<section id="puppies" class="row">
    <div class="col s12 m6 l4" v-for="puppy in pets">
        <div class="puppy-crate">
            <img class="puppy-headshot" :src="puppy.large_results_photo_url" />
            <h5 class="puppy-name">{{ puppy.pet_name }}</h5>
            
            <div class="puppy-info">
                <small class="valign-wrapper grey-text">
                    <i class="material-icons tiny">pets</i>{{ puppy.primary_breed }}
                </small>
                <small class="valign-wrapper grey-text">
                    <i class="material-icons tiny">all_inclusive</i>{{ puppy.sex === 'm' ? 'male' : 'female' }}, {{ puppy.age }}
                </small>
            </div>
            
            <div class="puppy-location grey-text">
                <i class="material-icons tiny">place</i>
                {{ puppy.addr_city }}, {{ puppy.addr_state_code }}</div>
        </div>
    </div>
</section>