@section Title {
    <h2 class="title center-align">Meet the adoptable<br />Hearts &amp; Bones Pups!</h2>
}

@section Scripts {
    <script src="https://unpkg.com/vue@2.3.4/dist/vue.min.js" type="text/javascript"></script>
    <script src="/Scripts/adopt.js" type="text/javascript"></script>
}

<section id="puppies" class="row">
    <div class="col s12 m6 l4" v-for="puppy in pets">
        <div class="puppy-crate">
			<a target="_blank" :href="puppy.redirect_url">
                <img class="puppy-headshot" :src="puppy.large_results_photo_url" />
                <h5 class="puppy-name">{{ puppy.pet_name }}</h5>
			</a>
            
            <div class="puppy-info">
                <small class="valign-wrapper grey-text text-darken-1">
                    {{ puppy.primary_breed }}
                </small>
                <small class="puppy-gender valign-wrapper grey-text">
                    {{ puppy.sex === 'm' ? 'male' : 'female' }}, {{ puppy.age }}
                </small>
            </div>
            
            <div class="puppy-location grey-text valign-wrapper">
                <template v-if="puppy.hasDoppleganger">
                {{ puppy.destination }}
                <i class="material-icons split">flight_takeoff</i>
                </template>
                
                <template v-else>
                    <i class="material-icons">pin_drop</i>
                </template>
                {{ puppy.addr_city }}, {{ puppy.addr_state_code }}
            </div>
        </div>
    </div>
</section>