@section Title {
    <h2 class="title">Meet the adoptable Hearts &amp; Bones Pups!</h2>
}

@section Scripts {
}

<h3>Where are our dogs from?</h3>

<p>Most of our dogs that are available for adoption originate from various Southern states, particularly Texas. In many of these states, dogs often come from areas where spay/neuter laws do not exist or are rarely enforced, leading to extraordinary pet overpopulation. The crushing number of dogs that come in through the shelter doors cause the kennels to fill up very quickly, meaning that dogs have to be killed on a daily basis to make space for the new ones coming in. </p>
<p>Many shelters also have policies in place that limit the amount of time that a dog is considered “safe.” As soon as they enter the shelter, many often only have a few days’ stray hold until their time is up. If a dog is surrendered by an owner directly, they could be killed the same day. Further, if a dog is deemed to be sick, injured, or scared, the dog can be deemed unadoptable and its chances to get out of the shelter go from slim to none. Hearts & Bones Rescue exists to help as many dogs avoid this fate.</p>
<p>Once rescued, these dogs are taken to our vets and then housed in loving foster homes. Once the dog is spayed/neutered and fully vaccinated, they may be transferred to another foster home, a rescue partner, or adopted. We encourage our adopters to speak with the foster parents to learn more about our available dogs. </p>
