@section Title {
    <h2 class="title">Go on, send us a message! We're here for you!</h2>
}

<h2>Contact us!</h2>

<h6>Questions about Adopting?</h6> 
E-mail us <a href="mailto:info@heartsandbonesrescue.com">here</a>. 

<h6>Questions about Fostering?</h6> 
E-mail us <a href="mailto:info@heartsandbonesrescue.com">here</a>. 

<h6>Questions about Donations, raising money, or payments?</h6> 
E-mail us <a href="mailto:info@heartsandbonesrescue.com">here</a>. 

<h6>Are you a rescue wanting to partner with us?</h6> 
E-mail us <a href="mailto:info@heartsandbonesrescue.com">here</a>. 

<h6>Request to Surrender a Dog?</h6> 
E-mail us <a href="mailto:info@heartsandbonesrescue.com">here</a>. 

<h6>Fundraising, Events, or Partnership Opportunities?</h6> 
E-mail us <a href="mailto:info@heartsandbonesrescue.com">here</a>. 

