// This font specification is only for the ampersand character.
@font-face {
    font-family: 'Ampersand';
    font-style: normal;
    font-weight: 400;
    src: local('Freckle Face'), local('FreckleFace-Regular'), url(https://fonts.gstatic.com/s/freckleface/v4/7-B8j9BPJgazdHIGqPNv8xampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0026;
  }
  
  @font-face {
      font-family: 'Pitch';
      font-style: normal;
      font-weight: 400;
      src: local('Pitch'), local('Pitch-Semibold'), url('fonts/Pitch_Semibold.woff2') format('woff2'),
          url('fonts/Pitch_Semibold.woff') format('woff');
  }