body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

// Display font for headers and brand
h1, h2, h3, h4, h5, h6,
.f-marker {
    font-family: 'Ampersand', 'Permanent Marker', cursive;
}

.f-pitch {
    font-family: 'Pitch', monospace;
    line-height: 1.35;
}

.h4 {
    color: rgba(0,0,0,0.87);
    font-family: 'Ampersand', 'Permanent Marker',cursive;
    font-size: 2.28rem;
    line-height: 110%;
    font-weight: 400;
}

strong {
    font-weight: 700;
}

// Adding bottom margin to ensure there is space between end of content and footer section.
#content {
    margin-bottom: 100px
}

// Override dropdown arrow on nav menu dropdowns.
nav i.material-icons.right {
    margin-left: 0;
}

.brand-logo.center {
    height: 100%;
    display: flex;
    align-items: center;

    img {
        max-height: calc(100% - 20px);
        max-width: 100%;
    }
}

.nav-link {
    font-family: 'Pitch', monospace;
    text-transform: uppercase;
}

.dropdown-content {
    li > a {
        font-size: 1rem;
    }
    
    .nav-link:first-child {
        align-items: center;
        display: flex;

        // MAGIC NUMBER: This is the height of the fixed nav.
        height: 64px;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-copyright .material-icons {
    vertical-align: middle;
}

// Icomoon font for social icons
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.ttf?fulcq4') format('truetype'),
    url('fonts/icomoon.woff?fulcq4') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\f082";
}
.icon-instagram:before {
  content: "\f16d";
}

.page-footer .social-icons a {
    color: rgba(0,0,0,0.87); // Taken from materialize.
    font-size: 24px;
    margin: 0 2px;
}

.page-footer .footer-links a:hover {
    text-decoration: underline;

    .material-icons {
        text-decoration: underline;
    }
}