@section Title {
    <h3 class="title">Get to know us!</h3>
}

<h2>About Us</h2>
<p>Hearts & Bones Rescue was founded by dog-loving individuals who met in 2012 through their love of rescuing dogs that otherwise would not have a loving, forever home. Through the experiences of fostering, volunteering, and visiting the shelters where these dogs came from, we decided to set out and found our own rescue... (more to come here) </p>

<p>So, why "Hearts & Bones?" Rescue requires not only the heart, or compassion and love, for the animals that are in need, but also the bones &mdash; the grit, the strength, and the persistence to rescue these dogs from their former lives to give them the opportunity at a great, forever home.</p>

<h2>Our Mission</h2>
<p>Hearts & Bones Rescue is an all-breed dog rescue composed of a network of fosters and volunteers who collaborate to rescue dogs from shelters in the south to find them loving, forever homes. Every day, there are thousands of animals killed in America's shelters because they do not have homes.</p>

<p>Prior to adoption, Hearts & Bones Rescue spays/neuters, vaccinates, and works through various medical issues for each of our adoptable dogs. We then place the dogs directly into forever homes or transfer to our dedicated rescue partners.</p>
