@section Title {
    <h3 class="title">Add a new member to your family!</h3>
}

<h2>Adoption Application Overview</h2>
<p>Thank you for applying to adopt a Hearts & Bones Rescue ("HBR") dog! We are working actively on your adoption application and will get back to you as soon as possible. If you have not heard from a HBR representative after 7 days, please do e-mail us at info@heartsandbonesrescue.com.</p>
<p>The decision to adopt a pet is an important one that we take seriously. Please take the time to read the questions and carefully complete this application. Please include full explanations with as much information as possible &mdash; this will help us in the review process and help expedite the process. Please ensure that you meet the below requirements before proceeding to complete the application. The requirements for adopting are:</p>
<ol>
<li>Applicants must be 23 years of age</li>
<li>Applicants must provide personal, work, and vet references (if applicable)</li>
<li>Applicants must consent to an in-person home visit or virtual home visit when requested</li>
<li>Applicants must pay the adoption fee</li>
<li>Applicants must agree to the terms on the adoption application and adoption contract</li>
</ol>
<p>Hearts & Bones Rescue reserves the right to deny any application for any reason. Thank you for your patience and cooperation.</p>
<p>Upon approval, the adoption fee must be paid. This covers costs of spay/neuter, vetting, boarding, transportation, and other necessary items for our rescue dogs. Your adoption fee allows us to save another life that is in need.</p>
<p>Thank you again for your interest!</p>
<br />
<p>See below to start the adoption process!</p>
<br />
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd1wAzNdMbN281i_VqH_RIGlmxIcrNyV47qqWSzr7XL9Y1gpg/viewform?embedded=true" width="100%" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>