@section Title {
    <h3 class="title">Help us find each and every forever home</h3>
}

<p>Help us out with your support, please donate Now!</p>
<br />
<br />
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="Y8VA5XS87ALAC">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<br />
<!-- https://www.paypal.com/us/fundraiser/charity/2380536 -->