@section BeforeBody {
    <div class="full-page">

        <section class="words-animation f-marker">
            <h4 class="words-headline">
                <span>We are</span>

                <div class="words-list">
                    <span>rebels</span>
                    <span>outlaws</span>
                    <span>movers</span>
                    <span>shakers</span>
                    <span>change-makers</span>
                </div>
            </h4>
        </section>
    </div>
}

@section Styles {
    <link rel="stylesheet" href="/Styles/index.min.css">
}

@section Scripts {

}
