@section Title {
    <h2 class="title center-align">Meet the adoptable<br />Hearts &amp; Bones Pups!</h2>
}

@section Scripts {
    <script language="JavaScript">
        var AAPPetScrollerSettings = {
            'searchtools_box_width': '100%',
            'searchtools_box_height': '800',
            'size': '1200x800_gridnew',
            'title': '',
            'clan_name': 'dog',
            'color': 'gray',
            'shelter_id': '95500',
            'sort_by': 'pet_name'
        };

    </script>
    <script type="text/javascript" src="/Scripts/lib/st-portable-pet-list.js"></script>
}
