@section Title {
    Meet the adoptable Hearts &amp; Bones Pups!
}

<script language="JavaScript">
var AAPPetScrollerSettings = {
    'searchtools_box_width': '1200',
    'searchtools_box_height': '800',
    'size': '1200x800_gridnew',
    'title': 'Check out our Adoptable Dogs!',
    'clan_name': 'dog',
    'color': 'gray',
    'shelter_id': '95500',
    'sort_by': 'pet_name'
};

</script>
<script language="JavaScript" src="https://dq25e8j0im0tm.cloudfront.net/js/st-portable-pet-list.js"></script>
<div style="background-color:#fff; width:1200px; text-align:center; height:53px;"><p style="font-family:Helvetica, Arial, Geneva, sans-serif; font-size:12px; color: #444444;">Pet adoption and rescue powered by <a href="http://www.adoptapet.com/" title="Pet adoption and rescue powered by Adopt-a-Pet.com"><img src="https://dq25e8j0im0tm.cloudfront.net/images/st-logo-lg.gif" alt="Adopt-a-Pet.com" width="150" height="37" border="0" style="vertical-align:middle; margin-left:15px;" /></a></p></div>
