@section Title {
    <h2 class="title">Lend us a helping hand?</h2>
}

<h3>This page coming soon!</h3>

<p>If you want to go ahead and pitch in now, shoot us an email at info@heartsandbonesrescue.com for more information!</p>
