@section Title {
    <h3 class="title">Lend us a helping hand?</h3>
}

<h2>This page coming soon!</h2>

<p>If you want to go ahead and pitch in now, shoot us an email at info@heartsandbonesrescue.com for more information!</p>
