@font-face {
  font-family: 'Ampersand';
  font-style: normal;
  font-weight: 400;
  src: local("Freckle Face"), local("FreckleFace-Regular"), url(https://fonts.gstatic.com/s/freckleface/v4/7-B8j9BPJgazdHIGqPNv8xampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0026; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

main {
  flex: 1 0 auto; }

h1, h2, h3, h4, h5, h6,
.f-marker {
  font-family: 'Ampersand', 'Permanent Marker', cursive; }

.h4 {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Ampersand', 'Permanent Marker',cursive;
  font-size: 2.28rem;
  line-height: 110%;
  font-weight: 400; }

strong {
  font-weight: 700; }

#content {
  margin-bottom: 100px; }

nav i.material-icons.right {
  margin-left: 0; }

.brand-logo {
  font-size: 36px; }

.nav-link {
  font-family: 'Cutive Mono', monospace;
  text-transform: uppercase; }
  .nav-link:first-child {
    align-items: center;
    display: flex;
    height: 64px; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.footer-copyright .material-icons {
  vertical-align: middle; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.ttf?fulcq4") format("truetype"), url("fonts/icomoon.woff?fulcq4") format("woff");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook:before {
  content: "\f082"; }

.icon-instagram:before {
  content: "\f16d"; }

.page-footer .social-icons a {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  margin: 0 2px; }

.page-footer .footer-links a:hover {
  text-decoration: underline; }
  .page-footer .footer-links a:hover .material-icons {
    text-decoration: underline; }

.puppy-crate {
  border-radius: 10px;
  box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.3);
  margin: 10px 0;
  padding-top: 30px;
  text-align: center; }
  .puppy-crate .puppy-headshot {
    border-radius: 100%;
    height: 120px;
    width: 120px; }
  .puppy-crate .puppy-name {
    margin-bottom: 5px; }
  .puppy-crate .puppy-location {
    background: #f5f5f5;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid #e0e0e0;
    font-size: 11px;
    justify-content: center;
    padding: 15px;
    text-transform: uppercase; }
    .puppy-crate .puppy-location .material-icons {
      padding-right: 5px; }
    .puppy-crate .puppy-location .split {
      padding: 0 10px; }
  .puppy-crate .puppy-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 10px; }
    .puppy-crate .puppy-info small {
      font-size: 13px; }
    .puppy-crate .puppy-info .puppy-gender {
      font-size: 10px;
      text-transform: uppercase; }
    .puppy-crate .puppy-info .material-icons {
      padding-right: 5px; }

.iframe-wrapper {
  display: flex;
  flex-direction: column; }
  .iframe-wrapper iframe {
    height: 1200px; }
